.reviews {
    margin:20px auto;
}

.reviews h2 {
    margin-bottom: 10px;
}

.reviews form {
    display: flex;
    flex-direction: column;
}

.reviews textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reviews button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.reviews button:hover {
    background-color: #ff4a4a;
}

.reviews span {
    font-size: 20px;
    margin-right: 5px;
}
