.shop-category {
    margin-bottom: 400px;
}

.loading-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopCategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopCategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopCategory-sort {
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #888;
    padding: 10px 20px;
    background-color: #f9f9f9; /* Light background for better visibility */
    transition: background-color 0.3s;
}

.sort-dropdown {
    display: flex;
    align-items: center;
}

.sort-select {
    margin-left: 10px; /* Space between label and dropdown */
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 14px; /* Font size */
    cursor: pointer;
    background-color: #f9f9f9; /* Background color of the select */
    transition: border 0.3s, background-color 0.3s;
}

.sort-select:hover {
    background-color: #f0f0f0; /* Change background on hover */
}

.dropdown-icon {
    margin-left: 10px; /* Space between dropdown and icon */
}

.shopCategory-indexSort p span {
    font-weight: 600;
}

.shopCategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 80px;
}

.shopCategory-loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s; /* Added transition for hover effect */
}

.shopCategory-loadMore:hover {
    background: #d5d5d5; /* Change background on hover */
}

@media (max-width: 1280px) {
    .shopCategory-banner {
        margin: 20px auto;
    }

    .shopCategory-indexSort {
        width: 90%;
        margin: auto;
    }

    .shopCategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }

    .shopCategory-indexSort p {
        font-size: 12px;
    }

    .shopCategory-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }

    .shopCategory-loadMore {
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .shopCategory-banner {
        margin: 15px auto;
    }

    .shopCategory-indexSort {
        width: 80%;
        margin: auto;
    }

    .shopCategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }

    .shopCategory-indexSort p {
        font-size: 14px;
    }

    .shopCategory-loadMore {
        margin: 80px auto;
        width: 170px;
        height: 50px;
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .shopCategory-banner {
        margin: 10px auto;
    }

    .shopCategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .shopCategory-banner {
        margin: 15px auto;
    }

    .shopCategory-indexSort {
        width: 75%;
        margin: auto;
    }

    .shopCategory-indexSort p {
        font-size: 12px;
    }

    .shopCategory-sort {
        padding: 5px 10px;
        font-size: 10px;
    }

    .shopCategory-products {
        width: 85%;
        margin: 10px auto;
        row-gap: 15px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    }
}
